<h4>roles works!</h4>
<!-- <div class="row">
    <div class="col-3">
        <p>{{firstName}}</p>
    </div>
    <div class="col-3">
        <p>{{lastName}}</p>
    </div>
    <div class="col-3">
        <p>{{age}}</p>
    </div>
    <div class="col-3">
        <p>{{selectedState}}</p>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <input type="text" [value]="firstName" class="form_control"/>
    </div>
    <div class="col-3">
        <input type="text" [(ngModel)]="firstName" />
    </div>
    <div class="col-3">
        <input [type]="inputType"/>
    </div>
    <div class="col-3">
        <select [(ngModel)]="selectedState">
            <option value="" hidden>Choose one</option>
            <option value="First">First</option>
            <option value="Second">Second</option>
            <option value="Third">Third</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <input type="number" [(ngModel)]="statusInfo">
    </div>
    <div class="col-3">
        <button class="btn btn-success" (click)="showStartMessage()">Start message</button>
    </div>
    <div class="col-3">
        <button class="btn btn-success" (click)="showStatusMessage(statusInfo)">Status message</button>
    </div>
    <div class="col-3">
        <button class="btn btn-success" (click)="showEndMessage()">End message</button>
    </div>
</div> -->

<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>S.no</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of roleList;let sno = index">
                    <td>{{sno+1}}</td>
                    <td>{{item.role}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>