<div class="row">
    <div class="col-12 text-center">
        <div class="container">
            <button type="button" class="btn pl-2 pr-2" (click)="changeState('Roles')" [ngClass]="currentState == 'Roles' ? 'btn-success' : 'btn-secondary' ">Roles</button>
            <button type="button" class="btn" (click)="changeState('Designation')" [ngClass]="currentState == 'Designation' ? 'btn-success' : 'btn-secondary' ">Designation</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12" *ngIf="currentState == 'Roles'">
        <app-roles></app-roles>
    </div>
    <div class="col-12" *ngIf="currentState == 'Designation'">
        <app-designation></app-designation>
    </div>
</div>
